<div style="height: 350px;" class="d-flex flex-col bg-gray-800">
    <div>
        <h2 class="text-white">Câu chuyện hàng đầu</h2>
    </div>
    <div id="topNewsCarousel" class="carousel h-5/6" data-bs-ride="carousel" data-bs-interval="2000">
        <!-- <div class="carousel-indicators">
        </div> -->
        <div class="carousel-inner rounded p-2">
            <top-news-item *ngFor="let item of topNews" data="item"></top-news-item>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#topNewsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topNewsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>